:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
}

/* header */

.header {
  border-bottom: 1px solid var(--cornflower);
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list .menu-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav .logo.link {
  color: var(--iris);
  margin-right: 76px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-up {
  color: var(--navyblue);
}

.nav-link.link {
  color: var(--navyblue);
  padding: 24px 0;
  position: relative;
}

.studio-line {
  position: relative;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-line:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.nav-link.link:hover,
.nav-link.link:focus {
  color: #404bbf;
}

.menu-nav {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link {
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link.link:hover,
.address-link.link:focus {
  color: #404bbf;
}

.address-header {
  margin-left: auto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* main */

/*index*/

.hero {
  padding: 188px 0;
  height: 600px;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainheader {
  max-width: 496px;
  margin: 0 auto;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

button {
  display: block;
  height: 56px;
  min-width: 169px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.active-button {
  background-color: #4d5ae5;
  color: var(--white);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.icons-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.traits {
  padding: 120px 0;
}

.traits .list {
  display: flex;
  gap: 24px;
}

.traits-specifics {
  width: calc((100% - 72px) / 4);
}

.traits .container {
  padding-left: 0;
  padding-right: 0;
}

.headers {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
  margin-top: 0;
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin: 0;
}

.team-section {
  padding: 120px 0;
  background-color: var(--cloud);
}

.header-team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--grey);
}

.list.team-reps {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.team-card {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-occupation {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
  color: var(--grey);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-job {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.traits-icons {
  border: 1px;
  border-color: #8e8f99;
}

.icons-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-socials {
  width: 40px;
  height: 40px;
}

.item-socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-socials-link:hover,
.item-socials-link:focus {
  background-color: #404bbf;
}

.socials-svg {
  fill: #f4f4fd;
}

/*portfolio*/
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list.button-set {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  margin-top: 0;
  padding-left: 427px;
  padding-right: 427px;
}

.button-portfolio {
  color: var(--iris);
  background-color: var(--cloud);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower);
  padding: 12px 24px;
  border-radius: 4px;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.list.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 0;
  padding-left: 0;
}

.list .portolio-cards {
  width: calc((100% - 48px) / 3);
}

.photo-cards {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio {
  text-align: center;
  margin-bottom: 72px;
}

.port-specs {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.app-name {
  font-weight: 500;
  color: var(--grey);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.functionality {
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--slate);
  text-align: left;
}

.functionality:hover {
  transform: translateY(0%);
}

/* footer */
.footer {
  padding: 100px 0;
  color: var(--cloud);
  background-color: var(--navyblue);
  font-size: 16px;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}

.logo-down {
  color: #f4f4fd;
}

.footer-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.logo-paragraph {
  margin-right: 120px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.item-footer-socials {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
}

.specific-icon {
  fill: #f4f4fd;
}
